.Pro-head{
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 500;
    color: #3A3A3A;
    line-height: 120%;
    text-align: center;
}
.pro-btn{
    width: 245px;
    height: 48px;
    background-color: #FFFFFF;
    color: #B88E2F;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
   
}
.btn{
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}